/*
-------------------
Color pallette
-------------------
background: #fbfbfb;
color: #333; 
*/


/*
-------------------
fonts 
-------------------

font-family: 'Karla', sans-serif;
font-family: 'Vollkorn', serif;

*/


/* Applies to all pages */

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    background: #fbfbfb;
    color: #333;
    cursor: auto;
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    /* overflow-y: hidden; */
}

main {
    min-height: calc(100%-192px);
    height: calc(100%-192px);
    min-width: 100%;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}


/* Headings */

h1, h2, h3 {
    font-weight: 300;

}
.h {
    padding-top: 100px; /* To push heading down from nav */ 
    font-family: 'Vollkorn', serif;
    font-size: 5em;
    text-align: center;
}

.em{/*Applies only to h2s on about.php*/ 
    font-size: 4.5em;
}

#hello{
    padding-top: 200px; 
    font-size: 10em;
}

/* Column structure */

.cols {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rows {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.center {
    text-align: center;
}
/* Modular height and width */

#w25 {
    width: 25%;
}

#w33 {
    width: 33%;
}

#w40 {
    width: 40%;
}

#w100 {
    width: 100%;
}

#h40 {
    height: 40%;
}


/*Modular margin and padding */

#mb30 {
    margin-bottom: 30px;
}

#p10{
    padding: 10px;
}

#mt20{
    margin-top: 20px;
}


/* Navigation */

nav {
    background: #333;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

a {
    font-family: 'Vollkorn', serif;
    color: #333;
    text-decoration: none;
    font-size: 3em;
    font-weight: 300;
}

a:hover {
    color: gold;
}

#nava {
    /*Anchor tag in nav, as opposed to those in body */
    color: #fbfbfb;
}


/* form */

form {
    text-align: center;
}

.rq {
    color: red; 
}
#submit {
    height: 50px; 
    width: 100px; 
    background-color: #333;
    color: #fbfbfb;
}


/* Media Queries */

@media screen and (max-width: 732px) {
    .cols,
    .rows {
        display: block;
        text-align: center;
    }

    #w25,
    #w33,
    #w40,
    #w100 {
        width: 100%;
        padding: 10px 0px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hello{
        font-size: 5em;
    }
}